body{
    font-family:'Roboto',sans-serif;
}

h1{
    font-size:32px;
    font-weight:bold;
}

h2{
    font-style:italic;
}

.description{
    text-align:justify;
    text-transform:capitalize;
    letter-spacing:1px;
    line-height:1.8;
    font-size:18px;
}